*{margin: 0; padding: 0; box-sizing: border-box;}
header
{
	width: 100%;
	height: 100vh;
	background: url(img/1.jpg) center center no-repeat;
	background-size: cover;
}
menu
{
	width: 100%;
	padding: 2%;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	background: rgba(186,207,200,0.5);
}
menu ul li 
{
	display: inline-block;
	text-transform: uppercase;
}
menu ul li a
{
	color: #3c332e;
	text-decoration: none;
	margin: 20px
}
menu ul li a:hover
{
	color: #f1f3f0;
	transition: 0.5s;
}
header h1 
{
	font-family: 'Oswald', sans-serif;
	font-size: 8em;
	color: white;
	background: rgba(186,207,200,0.8);
	text-align: center;
	margin-top: 16%;
	text-transform: uppercase;
}
section
{
	width: 100%;
	padding: 2em;
	background: rgba(186,207,200,1);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
section h1
{
	font-family: 'Oswald', sans-serif;
	color: #e6e8e5;
	text-transform: uppercase;
	font-size: 4em;
	padding-top: 2%
}
section h2
{
	color: #90b2a7;
	padding: 2%;
	font-weight: 700;
}
.box
{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.box1
{
	flex-basis: 30%;
	padding: 20px;
	background: #e6e8e5;
	margin: 20px 0;
	color: #3c332e;
}
.box2
{
	flex-basis: 47%;
	padding: 20px;
	background: #e6e8e5;
	margin: 20px 0;
	color: #3c332e;
}
footer
{
	width: 100%;
	padding: 1%;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: #e6e8e5;
	color: #3c332e;
}
@media only screen and (max-width: 480px)
{
	menu
	{
		font-size: 0.5em;
	}
	header h1 
	{
		font-size: 3em;
		margin-top: 50%;
	}
	section h1
	{
		font-size: 2em;
	}
	.box
	{
		flex-direction: column;
	}
	.box2
	{
		flex-basis: 90%;
	}
}
@media only screen 
and (min-width: 480px) 
and (max-width: 768px)
{
	header h1 
	{
		font-size: 6em;
		margin-top: 50%;
	}
	section h1
	{
		font-size: 4em;
	}
	.box1
	{
		flex-basis: 45%;
	}
	.box2
	{
		flex-basis: 100%;
	}
}